.app-container {
  font-family: var(--font-family);
  color: var(--color-text-main);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: white;
}

.content-area {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 100%;
}