<div class="main-container">

  <!-- Background Elements (Milo Design) -->
  <div class="hero-text">Milo</div>
  <div class="description-text">
    By: Mrakby, Bigad, 3gozzz, Anas.
  </div>

  <!-- Auth Card (Centered) -->
  <div class="box">

    <!-- Toggle Title -->
    <h2>Login</h2>

    <form [formGroup]="authLoginForm" (ngSubmit)="onSubmit()">

      <!-- Email -->
      <div class="input-box">
        <input type="text" formControlName="email" required>
        <span>Email</span>
        <!-- Error Message -->
        @if (authLoginForm.get('email')?.touched && authLoginForm.get('email')?.errors?.['required']) {
        <div class="error-text">Email is required</div>
        }
      </div>

      <!-- Password -->
      <div class="input-box">
        <input type="password" formControlName="password" required>
        <span>Password</span>
        <!-- Error Message -->
        @if (authLoginForm.get('password')?.touched && authLoginForm.get('password')?.errors?.['required']) {
        <div class="error-text">Password is required</div>
        }
      </div>

      <!-- Action Button -->
      <button type="submit" class="btn" [disabled]="authLoginForm.invalid">Login</button>

      <!-- Toggle Link -->
      <p class="switch-text">Don't have an account?
        <a routerLink="/Sign-Up"> Register</a>
      </p>

    </form>
  </div>

</div>