<div style="width: 1440px; height: 1024px; position: relative; background: white; overflow: hidden">
    <!-- Image from public folder -->
    <img 
        style="width: 719px; height: 721px; left: 91px; top: 50px; position: absolute; border-radius: 35px"
        src="images/Screenshot 2025-12-04 030158.png"
        alt="Screenshot" 
    />

    <!-- Title text -->
    <div
        style="width: 365px; height: 66px; left: 938px; top: 308px; position: absolute; text-align: center; color: black; font-size: 32px; font-family: Inter; font-weight: 700; line-height: 67.23px; word-wrap: break-word">
        Where are you going?
    </div>

    <!-- Description text -->
    <div
        style="width: 803px; height: 84px; left: 719px; top: 398px; position: absolute; text-align: center; color: black; font-size: 24.74px; font-family: Inter; font-weight: 700; line-height: 51.97px; word-wrap: break-word">
        The Web address you entered is<br />not a functioning page on our site<br /> Go to Milo.com's <a routerLink="/layout">Home</a> Page
    </div>
</div>
